* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    background-color: #343D4B;
    font-family: 'Montserrat', sans-serif; 
}
@media (max-width:700px) { /*аддаптивность, при увеличении самой страницы нажатием ctrl + колесико прокрута будет меняться расположение плиток, при достижении 700px приименяется даный параметр*/
    body{ /*тут например меняется задний цвет плашки*/
        background-color: #222831;
        margin: auto;
    }
}
.button__txt {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px; 
}